{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
    .bg-img{
    background:url("/static/images/cover.jpg");
}
</style>
{% endblock %}
{% block dashboard %}
<div class="container">
    <div class="alert alert-danger" role="alert">
            <h1 class="alert-heading">Payment Failure</h1>
            <p>Insufficient balance in your wallet. Please add money to your wallet and try again.</p>
            <p>Amount to be paid: ${{ amount }}</p>
    </div>
</div>


{% endblock %}